
body{
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(#FEFEFE, #0840cd) 
}
header{
    background:url(img/banner.png) ;

}

.encabezado 
{
    position: relative;
    width: 940px;
    margin:auto;
   background:url(img/banner.png) ;

}
.logo
{
   width:100px; 
}

nav
{
    position: absolute;
    top: 70px;
    right: 0;
}
nav li
{
    display: inline;
    margin: 0 0 0 30px;

}

nav a
{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight:bold;
    font-size: 22px;

}
.baner1
{
    width: 100%;
}
main{
     
}
.principal{

    padding: 3em 0;
}


.ubicacion {
padding: 3em 0;

}

.mapa{
width: 940px;
margin: 0 auto;

}

.titulo-principal{
    
    margin: 0 0 1em;
    

   
}

.titulo-principal p{
    text-align: center;
    font-size: 2em;
    color: rgb(255, 255, 255);
    clear:left;
    font-weight: bold;
    background: #0840cd;
    border-radius: 25px;
    padding: 15px 0;
    width: 50%;
    height: 100%;
    margin:  auto;

}


.servicios{

    padding: 3em 0;
}

.contenido-servicios{
    width: 940px;
    margin: 0 auto;
    

}
.contenido-servicios li{
    background: #FEFEFE;
    display: inline-block;
    text-align: center;
    color: #0840cd;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 3px solid #0840cd;
    border-radius: 10px;


}


.contenido-servicios h2{
    font-size: 25px;
    font-weight: bold;
}


footer{
    position: relative;
  
    margin:auto;
    text-align: center;
    background: url(img/footer.jpg);
    padding:40px;

}
.pie{
    margin-left: 46%;
   
    text-align: center;
   
    width: 100px;
    height: 100px;

}


.logo-pie{
    
   /*  margin-top: 15px;
    margin-left: 10px;
    /* text-align: center; */
    width: 100%;
}

.copyright{
    color:#FFFFFF;
    font-size: 13px;
    margin:20px;
}













@media screen and (max-width:480px){
    h1{
        text-align: center;
    }
    nav{
        position: static;
    }
    .encabezado, .principal, .ubicacion, .contenido-servicios,.footer {
        width: auto;
    }
.mapa{
    width: auto;
}
.contenido-servicios{
    width: auto;
}
.contenido-servicios li{
    width: auto;
    display:block;
}
}
